<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://allfont.es/allfont.css?fonts=good-times" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/novedades.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body>

    <div class="main">

        <div class="row">

            <header class="col-md-12">

               
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


                    <div class="col-md-1">
                        <img class="logo d-block w-50 h-20 float-left mr-2" src="img/Logo.jpeg" alt="100">
                    </div>
          
                    <div class="col-md-1">
                        <a class="navbar-brand d-block mx-2" href="#">Indigenner</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
          
          
                    <div class="col-md-10">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
                            <div class="col-md-10">
                                <ul class="navbar-nav mr-auto pt-1 justify-content-center">
                                    <li class="nav-item  mx-1">
                                        <a class="nav-link active" href="/">Inicio <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item mx-1">
                                        <a class="nav-link" href="/foros">Foros</a>
                                    </li>
                                    <li class="nav-item mx-1">
                                        <a class="nav-link" href="/juegos">Juegos</a>
                                    </li>
                                    <li class="nav-item mx-1">
                                        <a class="nav-link " href="#">Proyectos</a>
                                    </li>
          
          
                                    <li class="nav-item ml-2">
                                        <form class="form-inline mx-2 my-2 my-lg-0">
                                            <input class="form-control mr-sm-2 mx-4" type="search"
                                                placeholder="Escriba aqui..." aria-label="Search">
                                            <button
                                                class="btn btn-outline-success w-1 my-2 my-sm-0 px-1 display-4"
                                                type="submit">Search</button>
                                        </form>
                                    </li>
                                </ul>
          
                            </div>
          
                            <div class="col-md-2">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
          
                                        <% if (usuario!=null) { %>
                                            <a class="" href="#" id="navbarDropdown"
                                                role="button" data-toggle="" aria-haspopup="true"
                                                aria-expanded="false">
                                                <%=usuario%>
                                            </a>
                                            <a class="btn btn-danger ml-2" href="/cerrarsesion"
                                                    id="navbarDropdown" role="button" data-toggle=""
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-sign-out-alt"></i>
                                                </a>
                                                
                                            <% }else{%>
                                                <a class="btn btn-success" href="/iniciarsesion"
                                                    id="navbarDropdown" role="button" data-toggle=""
                                                    aria-haspopup="true" aria-expanded="false">
                                                    Iniciar sesion
                                                </a>
                                                <% } %>
          
          
                                    </li>
                                </ul>
                            </div>
          
          
                        </div>
                    </div>
          
          
                </nav>
            </header>

        </div>

        <div class="contenido row pt-4 ml-4">

            <div id="lateral" class="col-md-2 float-left mt-5 rounded">

                <div class="row text-white mx-auto pl-4 bg-dark mt-2" id="Titulolateral">
                    Menu lateral
                </div>
                <hr>

                <div class="menulateral bg-dark mt-4 w-100 h-95 col-md-12">
                    <a href=""><i class="fas fa-user ml-2 mt-2 pb-1"></i> Mi perfil</a>
                    <hr>
                    <a href="/novedades"><i class="fas fa-cubes ml-2 mt-2 pb-1"></i> Novedades</a>
                    <hr>
                    <a href=""><i class="fas fa-crosshairs ml-2 mt-2 pb-1"></i> Accion</a>
                    <hr>
                    <a href=""><i class="fas fa-basketball-ball ml-2 mt-2 pb-1"></i> Deportivo</a>
                    <hr>
                    <a href=""><i class="fas fa-chess-king ml-2 mt-2 pb-1"></i> Estrategia</a>
                    <hr>
                    <a href=""><i class="fas fa-robot ml-2 mt-2 pb-1"></i> Simulacion</a>
                    </ul>

                </div>

            </div>

            <div class="col-md-8 text-white ml-3">
                <nav aria-label="breadcrumb" class="text-white">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item text-white">
                            <a href="#" class="text-white">Inicio</a>
                        </li>
                        <li class="breadcrumb-item text-white">
                            <a href="#" class="text-white">Juegos</a>
                        </li>
                        <li class="breadcrumb-item text-white">
                          <a href="#" class="text-white">Novedades</a>
                      </li>
                    </ol>
                </nav>

                <!--<div class="container">
                  <div class="filters row mt-3 bg-dark pt-2 pb-2" style="justify-content: space-evenly; margin: auto;">

                    <div class="filter col-md-2 mt-1">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Categoria</option>
                            <option value="1">MMO</option>
                            <option value="2">RPG</option>
                            <option value="3">FPS</option>
                        </select>
                    </div>
                    <div class="filter col-md-2 ml-5 mt-1">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Autor</option>
                            <option value="1">Jaikill</option>
                            <option value="2">Joga2000</option>
                            <option value="3">Charles99</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-danger ml-4 h-30">Filtrar</button>

                </div>
                </div>-->

                <div class="clearfix"></div>

                <div class="ml-2 mt-3">
                    <div class="row bg-secondary">   <h6 id="destacados" class="ml-2 mt-1">Destacados</h6></div>
                 

                    <div class="contenedorjuegos mt-3">
                        <% if (juegor) { %>
                            <% for (var i=0; i < juegor.docs.length; i++){ %>
                        <div class="row">
                            <div class="col-md-12" style="justify-content: space-evenly;">
                                <div class="row" style="float: left;">
                                    <img src="img/proximamente.png" alt="" width="260" class="rounded card-game">
                                </div>
                                <div class="textarea" style="background-color: white; color: black; margin-left: 17em;">
                                  <div class="form-group ml-2">
                                    <small class="">Nombre: <%= juegor.docs[i].data().nombre %></small> <br>
                                    <small>Autor: <%= juegor.docs[i].data().autor %></small> <br>
                                    <small>Descripción: <%= juegor.docs[i].data().descripcion %></small> <br>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                          <% } %>
                      </div>

                    </div>



                </div>

            </div>


        </div>



        <footer
            class="col-lg-12 bg-info mt-5 navbar navbar-expand-lg navbar-dark bg-dark text-white justify-content-center">
            Indigenner 2020. &copy;
        </footer>



    </div>



</body>

</html>